<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <package android:name="com.google.android.apps.play.billingtestcompanion" />
    </queries>

    <application>
        <activity
            android:name=".ui.BillingTestCenterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BillingTestCenter" />
        <activity
            android:name=".ui.DialogHostActivity"
            android:exported="false"
            android:theme="@style/Theme.BillingDialogHost" />
    </application>

</manifest>
